[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/dsrkafuu/hugo-theme-fuji.git
